# Python
__pycache__/
*.pyc
*.pyo
.Python

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Spark logs and temp files
spark-warehouse/
derby.log
metastore_db/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db